* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    padding: 20px;
    text-align: center;
    background-color: #fafafa;
  }

  .layout {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 300px;
    margin-bottom: 20px;
  }
  
  .name-information-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .about-the-app {
    width: 300px;
    display: flex;
    border: 2px solid #000000;
    border-radius: 2px;
    background-color: white;
  }

  .name-information-card {
    width: 300px;
    border: 2px solid #000000;
    border-radius: 2px;
    text-align: left;
    background-color: white;
  }
  
  .image {
    width: 300px;
    /* border: 1px solid black; */
  }
  
  .title {
    text-align: left;
    padding: 15px 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000dd;
  }
  
  .facts {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10px;
    font-size: 0.85rem;
  }
  
  .facts li {
    margin: 2px 0;
    letter-spacing: 0.2px;
  }
  
  .name-search-form {
    width: 100%;
    border-top: 1px solid #00000020;
    padding: 10px;
    margin-top: 10px;
  }
  
  .name-search-input {
    width: 83%;
    border: none;
    font-size: 0.8rem;
  }
  
  .name-search-input:focus {
    outline: none;
  }
  
  .search-button {
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(92, 114, 238);
    cursor: pointer;
    transition: color 300ms;
  }
  
  .search-button:hover {
    color: rgb(37, 68, 245);
  }
  
  .search-button:active {
    color: rgb(127, 146, 250);
  }
  
  .search-button:focus {
    outline: none;
  }